#start-screen {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#start-screen #top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#start-screen #splash-container {
    /* border: 1px solid red; */
    text-align: center;
    margin: 0 auto;
    width: calc(100% - 1px);
    min-height: 270px;
}

#start-screen #splash-img {
    max-width: 1000px;
    max-height: 600px;
    width: 100%;
}

#start-screen #start-btn-container {
    /* border: 1px solid red; */
    text-align: center;
}

#start-screen #start-btn-container button {
    font-size: 24px;
    font-weight: bold;
    width: min(60vw, 300px);
}

#start-screen #bottom-container {
    position: fixed;
    /* border: 1px solid; */
    bottom: 0;
    display: flex;
    justify-content: end;
    width: calc(100% - 1px);
    padding: 1rem;
}

/************************************************/
/************** GAME SCREEN HEADER **************/
/************************************************/

#game-screen-header {
    position: fixed;
    top: 0;
    display: flex;
    /* border: 1px solid; */
    width: 100%;
    justify-content: space-between;
}

#game-screen-header #stats-displays-container {
    display: flex;
    flex-direction: column;
}

#game-screen-header #stats-displays-container .top-line,
#game-screen-header #stats-displays-container .bottom-line {
    display: flex;
    gap: 5px;
}
#game-screen-header #stats-displays-container .top-line {
    margin-bottom: 5px;
}

#game-screen-header #stats-displays-container .top-line #gold-display,
#game-screen-header #stats-displays-container .top-line #hp-display,
#game-screen-header #stats-displays-container .bottom-line #wave-display {
    background: rgba(0, 0, 0, 0.5);
    padding-inline: 0.25rem;
    width: 100%;
    min-width: 50px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-screen-header #stage-num-container {
    /* border: 1px solid; */
    text-align: center;
}

/************************************************/
/************** GAME SCREEN FOOTER **************/
/************************************************/

#game-screen-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    /* border: 1px solid; */
    width: 100%;
    justify-content: space-between;
    pointer-events: none;
}

#game-screen-footer .action-btns {
    /* border: 1px solid; */
    padding: 1rem;
}
@media screen and (max-width: 500px) {
    #game-screen-footer .action-btns {
        padding: 0 0 1rem 0;
    }
}

#game-screen-footer .action-btns button {
    position: relative;
    border-radius: 1000px;
    height: 56px;
    width: 56px;
    padding: 5px;
    margin-right: 5px;
    filter: brightness(0.75);
    pointer-events: all;
}

#game-screen-footer .action-btns button.ready {
    filter: brightness(1.1);
}
#game-screen-footer .action-btns button:last-child {
    margin-right: 0;
}

#game-screen-footer .action-btns button.cancel-action .cancel-badge > svg {
    position: absolute;
    fill: red;
    width: 32px;
    height: 32px;
    opacity: 1;
    top: -8px;
    left: 24px;
}
#game-screen-footer .action-btns :not(button.cancel-action) .cancel-badge > svg {
    opacity: 0;
}

#game-screen-footer .action-btns button img {
    border-radius: 1000px;
}

#game-screen-footer .action-btns button svg {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 4px;
    left: 4px;
}

#game-screen-footer .action-btns button .cooldown-arc path.filled {
    fill: transparent;
}

#game-screen-footer .action-btns button .cooldown-arc path.empty {
    fill: rgba(0, 0, 0, 0.5);
}
