#game-screen-header {
    position: fixed;
    top: 0;
    display: flex;
    /* border: 1px solid; */
    width: 100%;
    justify-content: space-between;
}

#game-screen-header #stats-displays-container {
    display: flex;
    flex-direction: column;
}

#game-screen-header #stats-displays-container .top-line,
#game-screen-header #stats-displays-container .bottom-line {
    display: flex;
    gap: 5px;
}
#game-screen-header #stats-displays-container .top-line {
    margin-bottom: 5px;
}

#game-screen-header #stats-displays-container .top-line #gold-display,
#game-screen-header #stats-displays-container .top-line #hp-display,
#game-screen-header #stats-displays-container .bottom-line #wave-display {
    background: rgba(0, 0, 0, 0.5);
    padding-inline: 0.25rem;
    width: 100%;
    min-width: 50px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-screen-header #stage-num-container {
    /* border: 1px solid; */
    text-align: center;
}

#game-screen-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    /* border: 1px solid; */
    width: 100%;
    justify-content: space-between;
}

#game-screen-footer .action-btns {
    /* border: 1px solid; */
    padding: 1rem;
}
@media screen and (max-width: 500px) {
    #game-screen-footer .action-btns {
        padding: 0 0 1rem 0;
    }
}

#game-screen-footer .action-btns button {
    border-radius: 1000px;
    height: 56px;
    width: 56px;
    padding: 5px;
    margin-right: 5px;
}
#game-screen-footer .action-btns button:last-child {
    margin-right: 0;
}

#game-screen-footer .action-btns button img {
    border-radius: 1000px;
}
